body {
    background-color: #202028;
    color: #EAEAEA;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.3em;
    margin-bottom: 40px;  
}

header {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

h1 {
    font-size: 2em;
    padding-bottom: 20px;
}

h2 {
    font-size: 1.3em;
    color: #9FFF7A;
}

img {
    padding: 50px 0 0 0;
}

.caption {
    padding: 10px 0 35px 0;
    font-size: 0.8em;
}

.data {
    padding: 75px;
    background-color: white;
    margin: 50px 0;
}

p {
    font-weight: 100;    
}

.quote {
    font-weight: 400;
}

audio {
    float: right;
    margin: 25px;
}

main {
    width: 80%;
    margin: 0 auto;
}

.overlay-mobile {
    font-family: 'Titillium Web', sans-serif;
}

.video {
    position:relative;
    margin: 0 0 50px 0;
}

.video video {
    position: relative;
    z-index: 0;
    width: 100%;
    opacity: 50%;
}

.overlay-desktop {
    position: absolute;
    width: 75%;
    top: 25%;
    left: 15%;
}

@media (min-width: 450px) {
    .overlay-mobile {
        display: none;
    }
}

@media (max-width: 850px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 0.8em;
    }
}

@media (max-width: 635px) {
    h1 {
        font-size: 1.2em;
    }
    h2 {
        font-size: .7em;
    }
    main {
        width: 100%;
        padding: 50px 0 0 0;
    }
    .data {
        padding: 25px;

    }
    .caption {
        font-size: 0.7em;
    }
    .overlay-desktop {
        display: none;
    }

}




/*
dark gray: #202028;
neon green: #24E323;
duller green: #0BD716;
neon blue: #0012FF;
white: #EAEAEA;
lighter green: #9FFF7A;

font-family: 'Titillium Web', sans-serif;
ExtraLight 200
ExtraLight 200 Italic
Light 300
Light 300 Italic
Regular 400
Regular 400 Italic
SemiBold 600
SemiBold 600 Italic
Bold 700
Bold 700 Italic

font-family: 'IBM Plex Sans', sans-serif;
Thin 100
Thin 100 Italic
ExtraLight 200
ExtraLight 200 Italic
Light 300
Light 300 Italic
Regular 400
Regular 400 Italic
Medium 500
Medium 500 Italic
SemiBold 600
SemiBold 600 Italic
Bold 700



