body {
    background-color: #C2D7D0;
}

h1,
nav {
    text-align: center;
    word-spacing: 60px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 5em;
    color: #FF9979;
    font-weight: 525;
}


a {
    color: white;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    color: #FF9979;
}

nav {
    margin-bottom: 40px;
}

.col img {
    width: 450px;
}

.logo {
    width: 50px;

}

p,
h2 {
    font-family: 'EB Garamond', serif;
}

h2 {
    font-weight: 500;
    font-size: 3em;
    padding-bottom: 20px;
}

p {
    font-weight: 400;
    font-size: 1.2em;
}

.col {
    margin: 100px;
    padding-bottom: 150px;
}


footer {
    background-color: #FFAA90;
    padding: 20px 0;
    text-align: center
}

footer a {
    display: inline;
    padding: 0 175px;
}

footer a:hover {
    color: #C2D7D0;
}


/*

Raleway
Thin 100
Extra-light 200
Extra-light 200 italic
Light 300
Light 300 italic
Regular 400
Medium 500
Medium 500 italic
Semi-bold 600
Semi-bold 600 italic
Bold 700
Bold 700 italic
Extra-bold 800
Black 900

font-family: 'Raleway', sans-serif;

Lora
Regular 400
Regular 400 italic
Medium 500
Medium 500 italic
Semi-bold 600
Semi-bold 600 italic
Bold 700
Bold 700 italic

font-family: 'Lora', serif;

EB Garamond
Regular 400
Regular 400 italic
Medium 500
Medium 500 italic
Semi-bold 600
Semi-bold 600 italic
Bold 700

font-family: 'EB Garamond', serif;

pink: #FFAA90
darker pink: #FF9979
turqoiuse: #99CCC6
greenish: #C2D7D0
lighter greenish: #CBE2DA