body {
    background-color: #C2D7D0;
}

h1,
nav {
    text-align: center;
    word-spacing: 60px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 5em;
    color: #FF9979;
    font-weight: 500;
}


a {
    color: white; 
    text-decoration: none;
    font-weight: 400;
    font-size: 1.15em;
}

a:hover {
    color: #FF9979;
}

nav {
    margin-bottom: 40px;
}

 .col-sm-6 img {
    width: 450px;
    padding-top: 50px; 
} 

.logo {
    width: 50px;
}

p,
h2 {
    font-family: 'EB Garamond', serif;
} 

h2 {
    font-weight: 500;
    font-size: 3em;
    padding-bottom: 20px;
}

p, 
ul {
    font-size: 1.2em; 
}

.resume {
    font-family: 'EB Garamond', serif;
    margin: 100px;
}

h3 {
    font-size: 2em;
    font-weight: 600;
}

.btn {
    background-color: #FF9979;
    border-color: #FF9979;
}

.btn:hover {
    background-color: #99CCC6;
    border-color: #99CCC6;
}

.row {
    padding: 50px 0 50px 130px;
}

.container {
    margin-left: 0px;
    padding-right: 25px;
    
    
}


footer {
    background-color: #FFAA90;
    margin-top: 150px;
    padding: 20px 0;
    text-align: center;
}

footer a {
    display: inline;
    padding: 0 175px;
    font-family: 'Raleway', sans-serif;
}


footer a:hover {
    color: black;
}



/*

Raleway
Thin 100
Extra-light 200
Extra-light 200 italic
Light 300
Light 300 italic
Regular 400
Medium 500
Medium 500 italic
Semi-bold 600
Semi-bold 600 italic
Bold 700
Bold 700 italic
Extra-bold 800
Black 900

font-family: 'Raleway', sans-serif;


EB Garamond
Regular 400
Regular 400 italic
Medium 500
Medium 500 italic
Semi-bold 600
Semi-bold 600 italic
Bold 700

font-family: 'EB Garamond', serif;

pink: #FFAA90
darker pink: #FF9979
turqoiuse: #99CCC6
greenish: #C2D7D0
lighter greenish: #CBE2DA