h1,
nav,
.navbar {
text-align: center;
word-spacing: 60px;
font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 4em;
}



nav {
margin-bottom: 40px;
}

img {
    width: 400px;
}

.logo {
    width: 50px;
}

p,
h2 {
    font-family: 'Lora', serif; 
}


/*

Raleway
Thin 100
Extra-light 200
Extra-light 200 italic
Light 300
Light 300 italic
Regular 400
Medium 500
Medium 500 italic
Semi-bold 600
Semi-bold 600 italic
Bold 700
Bold 700 italic
Extra-bold 800
Black 900

font-family: 'Raleway', sans-serif;

Lora
Regular 400
Regular 400 italic
Medium 500
Medium 500 italic
Semi-bold 600
Semi-bold 600 italic
Bold 700
Bold 700 italic

font-family: 'Lora', serif;

pink: #FFAA90
turqoiuse: #99CCC6